:root {
    --mainColor: #151D1B;
    --mainColorLight: #4C504A;
    --secondaryColor: #3c2c23;
    --textColor: #AA543B;
    --mainColorAlt: #AF6B4F;
}

* {
    font-family:'Alegreya SC';
}

#root {
    background-color: var(--mainColor);
}

.App {
    height:1500px;
    background-color: var(--mainColor);
    max-width: 2000px;
    margin: auto;
    background-image: url('https://i.imgur.com/3Xfb4Fo.png');
    /* 
    image at 100% opacity 
    background-image: url('https://darksouls.wiki.fextralife.com/file/Dark-Souls/TheBlackKnight_Art.jpg'); 
    */
    background-size: cover;
}

#nav-bar a {
    color: var(--textColor);
    font-size:30px;
}

form {
    max-width: 600px;
    margin: auto;
}

.container {
    max-width: 750px;
    margin: auto;
}

#create-character-outer-div {
    
    max-width: 1000px;
    margin: auto;
}

form label {
    color: var(--textColor);
    font-size:20px;
}

.form-control {
    background-color: var(--mainColor);
    color: white;
    max-width: 200px;
    font-size:20px;
}

.form-control:focus, .input-group-text {
    background-color: var(--mainColorLight);
    color: white
}

.buttons {
    background-color: var(--mainColorAlt);
    font-size:20px;
}

.list-group-item, .card-body, .card-header {
    background-color: var(--mainColor);
    color: var(--textColor);
    border: 2px solid var(--mainColorLight);
    font-size:30px;
}

.nav-link, .navbar-brand {
    color: var(--textColor);
    font-size:30px;
}

.nav-link:focus, .nav-link:hover {
    color: var(--mainColorAlt);
}

#nav-home-col {
    width: 30px;
}

#nav-createchar-col {
    padding-right: 40px;
}

.card {
    background-color: var(--mainColor);
    color: var(--textColor);
    border: 2px solid var(--mainColorLight);
}

.card-title{
    font-size:30px;}

#landing-page-title {
    color:var(--mainColorAlt);
    font-size:100px;
    font-weight: bolder;
    text-align: center;
    padding-top:100px;
    background-image: url('https://darksouls.wiki.fextralife.com/file/Dark-Souls/FierySpectacle.jpg');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#no-characters-card {
    max-width: 400px;
    text-align:center;
}

.build-names {
    font-size:19px;
}

.sign-in-forms {
    text-align: center;
}

.ng-help {
    background-color: var(--mainColor);
    border: 2px solid var(--mainColorLight);
    color:var(--textColor);
    font-size:20px;
}

.input-group-text {
    font-size:20px;
}

.input-group {
    max-width: 350px;
    margin: auto;
}

#create-character-btn {
    max-width: 1000px;
    margin: auto;
}

#create-character-btn-container {
    text-align: center;
}

.select-class-col {
    padding-bottom: 20px;
}

.alert {
    max-width: 200px;
}

.boss-health {
    font-size:20px;
    color: "red";
    text-align: "center";
}

.boss-location {
    font-size:20px;
    text-align: "center";
}

.hint {
    font-size: 25px;
}

#footer-container {
    position: fixed;
    bottom:0;
    max-width: 1900px;
}

#footer-card {
    max-width: 1000px;
    text-align: center;
    margin:auto;
}

#footer-link {
    margin:auto;
    text-align: center;
}